* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 0px 79px;
  margin: 0 auto;
}

.header {
  padding: 6px 0px;
  background-color: #43B02A;
}
.header .modal-header {
  display: none;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-and-menu {
  display: flex;
  align-items: center;
}
.header .logo-and-menu .menu-wrapper {
  display: none;
}
.header .logo-and-menu .menu-wrapper .menu .menu-1 {
  border: 1px solid white;
  width: 20px;
  border-radius: 5px;
}
.header .logo-and-menu .menu-wrapper .menu .menu-2 {
  border: 1px solid white;
  width: 20px;
  border-radius: 5px;
}
.header .logo-and-menu .menu-wrapper .menu .menu-3 {
  border: 1px solid white;
  width: 20px;
  border-radius: 5px;
}
.header-content-catalog {
  border-radius: 12px;
  border: 1px solid #3B9C25;
  padding: 8px 16px 8px 8px;
  display: flex;
  align-items: center;
  max-width: 87px;
  width: -webkit-fill-available;
}
.header-content-catalog p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: white;
}
.header-content-search {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  max-width: 526px;
  width: -webkit-fill-available;
}
.header-content-search input {
  border: none;
  background: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.header-content-city {
  border-radius: 12px;
  border: 1px solid #3B9C25;
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 8px;
  max-width: 191px;
  width: -webkit-fill-available;
}
.header-content-city p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: white;
}
.header-content-block {
  display: flex;
  justify-content: space-between;
  max-width: 152px;
  width: -webkit-fill-available;
}
.header-content-block-list {
  position: -webkit-sticky;
  position: sticky;
}
.header-content-block-list .curent-list {
  position: absolute;
  background-color: #F96D15;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0px;
  right: 0px;
}
.header-content-block-cart {
  position: -webkit-sticky;
  position: sticky;
}
.header-content-block-cart .curent-list {
  position: absolute;
  background-color: #F96D15;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0px;
  right: 0px;
}
.header-content-block-cart .curent-list p {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: white;
}
.header-content-block .block {
  width: 32px;
}

.modal-map {
  display: none;
}

.bg-50 {
  background: linear-gradient(to right, #F2F2F2 50%, white 50%);
}
.bg-50 .personal-area {
  display: flex;
}
.bg-50 .personal-area .title-block {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.bg-50 .personal-area .left {
  margin-bottom: 42px;
}
.bg-50 .personal-area-left-block {
  max-width: 309px;
  width: -webkit-fill-available;
  padding: 32px 0px 32px 0px;
}
.bg-50 .personal-area-left-block .hr-block-left {
  margin-bottom: 13px;
  margin-top: 13px;
  border: #D9D9D9 1px solid;
}
.bg-50 .personal-area-left-block .list-left-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 24px;
}
.bg-50 .personal-area-left-block .list-left-block li {
  list-style: none;
}
.bg-50 .personal-area-left-block .add-new-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px 0px 0px;
}
.bg-50 .personal-area-left-block .paragraph {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #888888;
}
.bg-50 .personal-area-left-block .active {
  color: #3B9C25;
}
.bg-50 .personal-area-left-block .title-cart {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #888888;
}
.bg-50 .personal-area-right-block {
  max-width: 956px;
  width: -webkit-fill-available;
  background-color: white;
  padding: 32px 0px 32px 20px;
}
.bg-50 .personal-area-right-block .mobile-text {
  display: none;
}
.bg-50 .personal-area-right-block .mobile-text-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.bg-50 .personal-area-right-block .mobile-text-wrapper .table {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #888888;
  background-color: #F2F2F2;
  padding: 2px 8px;
  border-radius: 4px;
}
.bg-50 .personal-area-right-block .hr-block-right {
  margin: 24px 0px;
  border: #D9D9D9 1px solid;
}
.bg-50 .personal-area-right-block .order-wrapper {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #EEF7EB;
}
.bg-50 .personal-area-right-block .order-wrapper .order {
  display: flex;
  flex-direction: column;
  background-color: #EEF7EB;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .blocks {
  display: flex;
  gap: 10px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 0px 0px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-1 .table-and-date {
  display: flex;
  gap: 8px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-1 .table-and-date .table-accept {
  background-color: #FFFFFF;
  border: 1px solid #3B9C25;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 0px 8px;
  color: #3B9C25;
  border-radius: 4px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-1 .table-and-date .date-accept {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-1 .item-number {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-2 .title-and-information {
  display: flex;
  align-items: center;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-2 .title-and-information p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .block-2 .title {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .price-and-more-information {
  display: flex;
  gap: 16px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .price-and-more-information .price p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .price-and-more-information .button-information {
  background-color: #D9EFD4;
  border-radius: 8px;
  padding: 8px;
  width: 32px;
  height: 32px;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .price-and-more-information .button-information img {
  transition: 0.3s;
}
.bg-50 .personal-area-right-block .order-wrapper .order-information .price-and-more-information .active img {
  transform: rotate(-180deg);
}
.bg-50 .personal-area-right-block .order-wrapper .order .warning {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #FEFACF;
  max-width: 530px;
}
.bg-50 .personal-area-right-block .order-wrapper .order .warning p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.bg-50 .personal-area-right-block .order-wrapper .block-mobile {
  display: none;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working {
  display: none;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block {
  display: flex;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left {
  max-width: 542px;
  width: -webkit-fill-available;
  border-right: 1px solid #D9EFD4;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .number-product {
  padding: 8px 16px;
  background-color: #D9EFD4;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .number-product p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
  gap: 9px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card .product-information {
  display: flex;
  align-items: center;
  gap: 9px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card .product-information .image-product img {
  width: 68px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card .product-information .product-discription .name-product {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card .product-information .product-discription .place-of-production {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #888888;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card .product-information .product-discription .number-of-packages {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card .product-information .product-discription img {
  margin: 8px 0px 8px 0px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .product-card .product-price .total-price-card {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .hr-total-price {
  border: 1px solid #D9EFD4;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .total-price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left .total-price-cart p {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right {
  padding: 24px 20px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .road-and-time {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .road-and-time .road {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 0px 0px 4px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .road-and-time .time {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .road-and-time .time-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .road-and-time .time-warning {
  border-radius: 8px;
  background: #FEFACF;
  padding: 8px 16px;
  max-width: 161px;
  margin: 22px 0px 22px 0px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .road-and-time .time-warning p {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #111111;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .road-and-time .time .sub-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #888888;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .delete {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}
.bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-right .delete p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #FF6262;
}
.bg-50 .personal-area-right-block .order-wrapper .active {
  display: block;
}

.block-mobile {
  display: none;
}

.modal-total-price {
  display: none;
}

.footer {
  padding: 48px 0px;
  background-color: #F2F2F2;
}
.footer .title-footer {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #888888;
  margin-bottom: 48px;
}
.footer-block-info {
  display: flex;
  gap: 20px;
}
.footer-block-info .footer-mobile {
  display: none;
}
.footer-block-info .footer-block-app-and-partner {
  max-width: 305px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer-block-info .footer-block-app-and-partner .block-app {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-block-info .footer-block-app-and-partner .block-app .block-app-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-block-info .footer-block-app-and-partner .block-app .app-image {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-block-info .footer-block-app-and-partner .block-partner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-block-info .footer-block-app-and-partner .block-partner .block-partner-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-block-info .footer-block-app-and-partner .block-partner .partner-image {
  display: flex;
  justify-content: start;
  gap: 8px;
}
.footer-block-info .footer-destkop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-block-info .footer-destkop-blocks {
  max-width: 305px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer-block-info .footer-destkop-blocks .footer-destkop-block-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-block-info .footer-destkop-blocks .footer-destkop-block-1 .footer-block-info-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer-block-info .footer-destkop-blocks .footer-destkop-block-1 .footer-block-info-sub-title {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: black;
}
.footer-block-info .footer-destkop-blocks .footer-destkop-block-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-block-info .footer-destkop-blocks .footer-destkop-block-2 .footer-block-info-title {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer-block-info .footer-destkop-blocks .footer-destkop-block-2 .footer-block-info-sub-title {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: black;
}
.footer .footer-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}
.footer .footer-down div p {
  color: #111;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.footer .footer-down div a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #3B9C25;
}
.footer .footer-down p {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1280px) {
  .bg-50 .personal-area-right-block .order-wrapper .order-information .blocks {
    display: flex;
    flex-direction: column;
  }
  .bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block {
    display: flex;
    flex-direction: column-reverse;
  }
  .bg-50 .personal-area-right-block .order-wrapper .js-working .more-information-block-left {
    max-width: 100%;
  }
  .footer-block-info .footer-block-app-and-partner {
    width: auto;
  }
}
@media screen and (max-width: 1024px) {
  .header-content-city {
    display: none;
  }
  .header-content-search {
    display: none;
  }
  .header-content-catalog {
    display: none;
  }
  .header .logo-and-menu .menu-wrapper {
    display: block;
  }
  .header .logo-and-menu .menu-wrapper .menu {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .header .logo-and-menu .menu-wrapper .menu .menu-1 {
    border: 1px solid white;
    width: 20px;
    margin-top: -10px;
  }
  .header .logo-and-menu .menu-wrapper .menu .menu-2 {
    border: 1px solid white;
    width: 20px;
    margin-top: -5px;
  }
  .header .logo-and-menu .menu-wrapper .menu .menu-3 {
    border: 1px solid white;
    width: 20px;
    margin-top: 5px;
  }
  .bg-50 .personal-area-left-block {
    max-width: 30%;
  }
}
@media screen and (max-width: 800px) {
  .footer .title-footer {
    text-align: start;
    font-size: 16px;
  }
  .footer-block-info {
    display: flex;
    flex-direction: column;
  }
  .footer-block-info .footer-block-app-and-partner {
    max-width: 100%;
  }
  .footer-block-info .footer-block-app-and-partner .block-app .app-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
  }
  .footer-block-info .footer-destkop {
    display: none;
  }
  .footer-block-info .footer-mobile {
    display: block;
    flex-direction: column;
  }
  .footer-block-info .footer-mobile .tab {
    margin-top: 16px;
  }
  .footer-block-info .footer-mobile .tab .tab-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-block-info .footer-mobile .tab .tab-title p {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .footer-block-info .footer-mobile .tab .tab-title img {
    transition: 0.3s;
  }
  .footer-block-info .footer-mobile .tab .active img {
    transform: rotate(-180deg);
  }
  .footer-block-info .footer-mobile .tab .tab-content {
    display: none;
  }
  .footer-block-info .footer-mobile .tab .tab-content div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
  }
  .footer-block-info .footer-mobile .tab .tab-content div a {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #111111;
  }
  .footer-block-info .footer-mobile .tab .active-tab {
    display: block;
  }
  .footer-block-info .footer-mobile .tab .hr-mobile-content {
    border: 1px solid #CCCCCC;
  }
  .content {
    padding: 0px 16px;
  }
  .bg-50 {
    display: none;
    background: white;
  }
  .bg-50 .personal-area-left-block {
    display: none;
  }
  .bg-50 .personal-area-right-block .mobile-text {
    display: block;
  }
  .bg-50 .personal-area-right-block .order-wrapper .order {
    display: none;
  }
  .block-mobile {
    display: block;
  }
  .block-mobile .exit-and-title {
    padding: 12px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
  }
  .block-mobile .exit-and-title .title {
    color: #888888;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 2px 8px;
  }
  .block-mobile .title-block {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    padding: 0px 16px;
    margin-bottom: 16px;
  }
  .block-mobile .green-mobile-block {
    background-color: #EEF7EB;
  }
  .block-mobile .green-mobile-block .modal-block {
    display: block;
  }
  .block-mobile .green-mobile-block-wrapper {
    padding: 16px;
  }
  .block-mobile .green-mobile-block-wrapper .modal-map .map-and-text {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 40px;
  }
  .block-mobile .green-mobile-block-wrapper .modal-map .map-and-text .map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-mobile .green-mobile-block-wrapper .modal-map .map-and-text .text .title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .block-mobile .green-mobile-block-wrapper .modal-map .map-and-text .text .warning {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 28px 0px;
  }
  .block-mobile .green-mobile-block-wrapper .modal-map .map-and-text .text .gray-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #888888;
    margin-top: 4px;
  }
  .block-mobile .green-mobile-block-wrapper .modal-map .delete-mobile {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    margin-top: 24px;
  }
  .block-mobile .green-mobile-block-wrapper .modal-map .delete-mobile p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #FF6262;
  }
  .block-mobile .green-mobile-block-wrapper .line-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .block-mobile .green-mobile-block-wrapper .line-1 .button-more-information-mobile {
    background-color: #D9EFD4;
    border-radius: 8px;
    padding: 8px;
  }
  .block-mobile .green-mobile-block-wrapper .line-1 .button-more-information-mobile img {
    transform: rotate(-90deg);
  }
  .block-mobile .green-mobile-block-wrapper .line-1 .block-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .block-mobile .green-mobile-block-wrapper .line-1 .block-left .number-product {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .block-mobile .green-mobile-block-wrapper .line-1 .block-left-line-1 {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .block-mobile .green-mobile-block-wrapper .line-1 .block-left-line-1 .table {
    padding: 0px 8px;
    color: #3B9C25;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background-color: white;
    border: 1px solid #3B9C25;
    border-radius: 4px;
  }
  .block-mobile .green-mobile-block-wrapper .line-1 .block-left-line-1 .date {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .block-mobile .green-mobile-block-wrapper .warning {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background: #FEFACF;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 4px;
  }
  .block-mobile .green-mobile-block-wrapper .warning p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .block-mobile .green-mobile-block-wrapper .green-text {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #3B9C25;
  }
  .block-mobile .green-mobile-block-wrapper .hr-mobile {
    border: 1px solid #D9EFD4;
    margin: 10px 0px;
  }
  .block-mobile .green-mobile-block-wrapper .apteka {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .block-mobile .green-mobile-block-wrapper .apteka p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .block-mobile .green-mobile-block-wrapper .title-mobile {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .block-mobile .green-mobile-block-wrapper .title-list {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #111111;
  }
  .block-mobile .green-mobile-block-wrapper .item-list {
    padding: 0px 0px 0px 20px;
    margin: 10px 0px;
  }
  .modal .header .header-content {
    display: none;
  }
  .modal .header .modal-header {
    display: block;
  }
  .modal .header .modal-header .modal-wrapper-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
  }
  .modal .header .modal-header .modal-wrapper-header p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
  }
  .modal .exit-and-title {
    display: none;
  }
  .modal .button-more-information-mobile {
    display: none;
  }
  .modal .block-left {
    width: 100%;
  }
  .modal .block-left .block-left-line-1 {
    display: flex;
    justify-content: space-between;
  }
  .modal .title-list {
    display: none;
  }
  .modal .item-list {
    display: none;
  }
  .modal .hr-mobile-delete {
    display: none;
  }
  .modal .modal-block .green-mobile-block {
    display: none;
  }
  .modal .modal-block .modal-block-wrapper .modal-map {
    display: block;
    padding: 20px 0px;
    margin-top: 24px;
  }
  .modal .modal-block .modal-block-wrapper .modal-map .map-and-text {
    display: flex;
    justify-content: start;
    gap: 20px;
  }
  .modal .modal-block .modal-block-wrapper .modal-map .map-and-text .map {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .modal .modal-block .modal-block-wrapper .modal-map .map-and-text .title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .modal .modal-block .modal-block-wrapper .modal-map .map-and-text .warning {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 28px 0px;
  }
  .modal .modal-block .modal-block-wrapper .modal-map .map-and-text .gray-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #888888;
    margin-top: 7px;
  }
  .modal .modal-block .modal-block-wrapper .modal-map .delete-mobile {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 24px;
  }
  .modal .modal-block .modal-block-wrapper .modal-map .delete-mobile p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #FF6262;
  }
  .modal .block-mobile .title-block {
    display: none;
  }
  .modal .block-mobile .green-mobile-block {
    background: linear-gradient(to top, white 49%, #EEF7EB 50%);
  }
  .modal .modal-total-price {
    display: block;
  }
  .modal .modal-total-price .id-modal {
    padding: 8px 16px;
    background: #D9EFD4;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .modal .modal-total-price .product-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
    gap: 9px;
  }
  .modal .modal-total-price .product-cart .wrapper-img-text {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .modal .modal-total-price .product-cart .wrapper-img-text img {
    width: 68px;
  }
  .modal .modal-total-price .product-cart .wrapper-img-text div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .modal .modal-total-price .product-cart .wrapper-img-text div img {
    width: 90px;
  }
  .modal .modal-total-price .product-cart .wrapper-img-text div .title {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .modal .modal-total-price .product-cart .wrapper-img-text div .sub-title {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #888888;
  }
  .modal .modal-total-price .product-cart .wrapper-img-text div .current {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .modal .modal-total-price .product-cart .price {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
  .modal .modal-total-price .price-hr-end {
    border: 1px solid #D9EFD4;
  }
  .modal .modal-total-price .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .modal .modal-total-price .total-price-left {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .modal .modal-total-price .total-price-right {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
}/*# sourceMappingURL=style.css.map */